.link{
  text-decoration: none;
  color:rgba(255, 255, 255, 0.751);
}

.NavLink{
  padding-bottom: 3px;
  margin-left: 10px;
  margin-right:10px;
}

.card{
  margin-top: 10px;
  border-color: white 2px;
  border: radius 15px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
}
.card.h2{
  color: white;
}
.balance{
  color:white;
}